<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    {{#if title}}
      <title>g0blin Research: {{title}}</title>
    {{else}}
      <title>g0blin Research</title>
    {{/if}}
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/prism.css"/>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <style type="text/css">
      body {font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif}
      article {overflow:hidden}
      code, pre {font-family: Consolas, Monaco, 'Andale Mono', 'Lucida Console', monospace; hyphens: none}
      pre {max-height: 30em;overflow: auto}
      pre > code.highlight {outline: .4em solid red;outline-offset: .4em}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12" style="background:#337ab7">
          <h1 style="margin-top:10px;">
            <a href="/" style="color: #fff">g0blin Research</a>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" style="background:#144773">
          <p class="text-right" style="margin-bottom:0px">
            <a href="https://twitter.com/g0blinResearch" target="_blank" style="color: #fff">Follow @g0blinResearch</a>
          </p>
        </div>
      </div>
